<!- deleteBook.html -->
<html>
  <head> </head> <body>
      <h1>Delete Book</h1>
        Are you sure you want to delete {{title}}?
        <form action="{{url_for('deleteBook', book_id = book_id, title=title)}}" method = 'POST'>
          <br>
          <input type='submit' value='Delete'>
          <a href="{{url_for('showBook')}}">Cancel</a>
        </form>
</body> </html>
