<!- editBook.html -->
<html>
  <head> </head> <body>
      <h1>Edit Book</h1>
        Name:
        <form action="{{url_for('editBook', book_id = book_id, title = title)}}" method = 'POST'>
          <br>
          <input type='text' size='30' name='name' placeholder='{{title}}'>
          <input type='submit' value='Edit'>
          <a href="{{url_for('showBook')}}">Cancel</a>
        </form>
</body> </html>
